/*mobile*/
@media(min-width : 64em) {
    .sidebar{
        width: 10%;
        height: 875px;
    }
    .body{
        width: 90%;
        padding: 0 100px;
    }
    .img_header{
        margin: 20px auto;
    }
    .content_big{
        width: 100%;
        margin: 20px auto;
    }
    .content_big_tittle{
        padding-top: 19px;
    }
    .content_big_heading{
        padding: 19px 147px 38px;
    }
    .content_small{
        font-size: 12px;
        margin-top: 20px;
    }
    .content_small_first{
        padding-right: 25px;
    }
    .content_small_third{
        padding-left: 25px;
    }
    .content_small_heading{
        padding-bottom: 24px;
    }
    .footer{
        width: 100%;
        margin-top: 148px;
    }

}